h1 {
	background: 				
	-webkit-linear-gradient(135deg, rgb(94, 102, 255), rgb(255, 72, 72));
	-webkit-background-clip:	text;
	font-size:					72px;
	-webkit-text-fill-color:	transparent;
}

body {
	background: linear-gradient(#152238, black);
	width: 100%;
	font-family: 'rubik';
}

html {
	height: 100%;
}

img {
	border-radius: 20%;
  }