h1 {
	background: 				
	-webkit-linear-gradient(135deg, rgb(94, 102, 255), rgb(255, 72, 72));
	-webkit-background-clip: text;
	font-size: 72px;
	-webkit-text-fill-color: transparent;
}

body {
	background: linear-gradient(#152238, black);
	width: 100%;
	font-family: 'rubik';
}

html {
	height: 100%;
}

img {
	border-radius: 20px;
	margin: 3px;
  }

.zoom:hover {
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	border:1px solid rgb(94, 102, 255);
}

.arrow{
	position: relative;
	top: 0;
	transition: top ease 0.3s;
  }
.arrow:hover {
	top: -10px;
	box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.5);
             
  }
.arrow:active {
	/* top: -10px; */
	transform: scale(0.9);
	box-shadow:  3px 3px 3px rgb(17, 255, 156);
}

footer {
	/* display: block; */
	text-align: center;
  	padding: 3px;
  	background: 				
	-webkit-linear-gradient(135deg, rgb(0, 13, 255), rgb(93, 255, 72));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: fixed;
  	bottom: 0;
	width: 100%;
  }