@font-face {
  font-family: 'ps-gotica';
  src: url('../font/Por_Siempre_G__tica.ttf') format('woff'),
       url('../font/Por_Siempre_G__tica.ttf') format('truetype');
  /* You can add additional font formats here if needed */
}
.ronin-font {
  font-family: ps-gotica;
  
}
h1 {
  background: -webkit-linear-gradient(
    135deg,
    rgb(94, 102, 255),
    rgb(255, 72, 72)
  );
  -webkit-background-clip: text;
  font-size: 72px;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.ronin{
font-family: ps-gotica; font-weight: bold; font-size: 150px;
}

h3 {
  background: -webkit-linear-gradient(
    135deg,
    rgb(51, 197, 255),
    rgb(96, 255, 72)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

goallan {
  background: -webkit-linear-gradient(
    135deg,
    rgb(94, 255, 129),
    rgb(255, 72, 72)
  );
  -webkit-background-clip: text;
  font-size: 72px;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

body {
  /* background: linear-gradient(#e3f2fd,#406097, black); */
  background: #333333;

  width: 100%;
  font-family: "rubik";
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

html {
  height: 100%;
}

a>img {
  border-radius: 20px;
  margin: 3px;
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: 1px solid rgb(94, 102, 255);
}

.arrow {
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
.arrow:hover {
  top: -10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.arrow:active {
  /* top: -10px; */
  transform: scale(0.9);
  box-shadow: 3px 3px 3px rgb(17, 255, 156);
}

footer {
  display: block;
  text-align: center;
  padding: 3px;
  background-color: rgba(198, 47, 47, 1);
  /* background:
	-webkit-linear-gradient(135deg, rgb(0, 13, 255), rgb(93, 255, 72));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
  position: fixed;
  bottom: 0;
  margin-bottom: -15px;
  width: 100%;
  color: white;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.testNeumorphism {
  border-radius: 50px;
  background: #232323;
  box-shadow: inset 20px 20px 60px #131313,
              inset -20px -20px 60px #333333;
    
}

@media screen and (max-width: 600px) {
  .snake {
    width: 100%;
  }
  a>img {
    border-radius: 10px;
    margin: 2px;
    width: 50px;
    height: 50px;
  }
  h1{
    font-size: 50px;
  }
  .ronin{
    font-size: 100px;
  }
}