#map {
  width: 100%;
  height: 100vh; /* Ensure the map takes full height of the screen */
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow the items to wrap */
  padding: 10px 0;
  z-index: 1000; /* Ensures the navbar stays on top */
}

.navbar a {
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgb(50, 124, 0);
  margin: 5px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: rgb(131, 255, 48);
  color: black;
}

.navbar a:active {
  transform: scale(0.9);
}

.bottom-right {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(0, 247, 255);
  text-shadow:1px 1px 1px black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  z-index: 1000; /* Ensures the navbar stays on top */
}
.sticky-button{
  /* display:none; */
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 10px 20px;
  background-color: rgb(50, 124, 0);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1001; /* Ensure it stays above other elements */
}
/* Media Queries for responsive design */
@media (max-width: 768px) {
  .navbar a {
    font-size: 14px;
    padding: 8px;
    margin: 3px;
    min-width: 60px;
  }
  .clear-btn{
    display:block;
  }
}
